<div class="products">
    <div class="cl">&nbsp;</div>
    <ul>
      <% @products.each do |product| %>
      <li>
        <%=link_to( image_tag(product.image_url), product) %>
        <div class="product-info">
          <h3>Genial</h3>
          <div class="product-desc">
	    <h4><%= product.title %></h4>
	    <p><%= product.description %></p>
            <strong class="price"><%= product.sale_price %></strong>
           </div>
             
        </div></br></br>
        
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          
      </li>
      <% end %>
    </ul>
  <div class="cl">&nbsp;</div>
  </br></br>
  <%= link_to 'New product', new_product_path %>

</div>
