<!-- Sidebar -->
<div id="sidebar">
  <!-- Search -->
  <div class="box search">
    <h2>Search by <span></span></h2>
    <div class="box-content">
      <%= search_form_for @search do |f| %>
          <%= f.label :title_cont, "Producto" %>
          <div class="field">
            <%= f.text_field :title_cont %>
          </div>
          
          <%= f.label :"Categoria" %>
          <div class="field" >
              <%= collection_select(:q, :category_id_eq, @categories, :id, 
                :name, {:include_blank => '- Seleccione Categoria -'})%>
          </div>
          
          <input type="submit" class="search-submit" value="Search" />
      <% end %>


    </div>
    <!-- End box-content -->
         
  </div>
  <!-- End box search -->
     
  <!-- Categories -->
  <div class="box categories">
    <h2>Categorias <span></span></h2>
    <div class="box-content">
      <%= render :partial => 'categories/index' %>
           
    </div>
         <!-- End box-content -->
  </div>
      
</div>
<!-- End Sidebar -->